---
const { title, clase, data = {} } = Astro.props;
---

    <a
        {...data}   
        href="#"
        class=`group inline-flex items-center gap-2 rounded-lg px-3 py-2 text-center font-medium hover:bg-cyan-500 dark:hover:bg-cyan-800 hover:text-white transition-colors  ${clase}`
    >
        <slot />

        

        <span>{title}</span>
    </a>

