---
import Enlaces from "../components/Enlaces.astro";
import NavLink from "../components/NavLink.astro";
import DarkMode from "../components/DarkMode";
---

<header class="sticky top-2 z-40">
    <div
        class="border dark:border-white/10 rounded-lg bg-white dark:bg-gray-800 p-3 shadow-md text-slate-800 dark:text-white"
    >
        <div class="flex items-center justify-between mx-auto px-1.5">
            <!-- Logo -->
            <a
                href="index.html"
                class="inline-flex items-center gap-3 text-2xl font-semibold"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    class="h-6 w-6"
                >
                    <path
                        fill="currentColor"
                        d="M0 1.5A1.5 1.5 0 0 1 1.5 0H9a1.5 1.5 0 0 1 1.5 1.5v21A1.5 1.5 0 0 1 9 24H1.5A1.5 1.5 0 0 1 0 22.5v-21Zm13.5 0A1.5 1.5 0 0 1 15 0h7.5A1.5 1.5 0 0 1 24 1.5V9a1.5 1.5 0 0 1-1.5 1.5H15A1.5 1.5 0 0 1 13.5 9V1.5Zm0 13.5a1.5 1.5 0 0 1 1.5-1.5h7.5A1.5 1.5 0 0 1 24 15v7.5a1.5 1.5 0 0 1-1.5 1.5H15a1.5 1.5 0 0 1-1.5-1.5V15Z"
                    ></path>
                </svg>

                <span> Mengo<span class="text-cyan-500">Dev</span></span>
            </a>

            <nav
                class="hidden gap-2 mx-auto lg:flex text-slate-700 dark:text-white"
            >
                <Enlaces />
            </nav>

            <div class="flex gap-2">
                <DarkMode client:load />

                <NavLink
                    title="Contacto"
                    clase="bg-orange-500 text-white hover:bg-orange-300 dark:hover:bg-orange-300"
                    data={{ "data-modal-target": "contact-modal", "data-modal-toggle" : "contact-modal" }}
                    
                >
                    <svg
                        class="w-6 h-6"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        fill="none"
                        viewBox="0 0 24 24"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-width="2"
                            d="m3.5 5.5 7.893 6.036a1 1 0 0 0 1.214 0L20.5 5.5M4 19h16a1 1 0 0 0 1-1V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1Z"
                        ></path>
                    </svg>
                </NavLink>

                <button
                    type="button"
                    class="text-dark transition dark:text-white/70 lg:hidden"
                    data-hs-overlay="#mobile-menu"
                    aria-controls="mobile-menu"
                    aria-label="Toggle navigation"
                >
                    <span class="sr-only">Toggle Navigation</span>
                    <svg
                        class="h-9 w-9 flex-shrink-0"
                        fill="currentColor"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                        ></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>
