---
interface Props {
	title: string;
}

const { title } = Astro.props;

import "@fontsource-variable/nunito-sans";

import Header from "../layouts/Header.astro";
import Footer from "../layouts/Footer.astro";
import Contacto from "../components/Contacto.astro";
import Enlaces from "../components/Enlaces.astro";
---

<!doctype html>
<html class="scroll-smooth scroll-py-28" lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/mengoweb/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<style>
			body {
				font-family: "Nunito Sans Variable", sans-serif;
			}

			.bg {
				position: fixed;
				top: 0px;
				left: 0px;
				width: 100%;
				height: 100%;
				opacity: 0.03;
				background-image: linear-gradient(
						30deg,
						#18191a 12%,
						transparent 12.5%,
						transparent 87%,
						#18191a 87.5%,
						#18191a
					),
					linear-gradient(
						150deg,
						#18191a 12%,
						transparent 12.5%,
						transparent 87%,
						#18191a 87.5%,
						#18191a
					),
					linear-gradient(
						30deg,
						#18191a 12%,
						transparent 12.5%,
						transparent 87%,
						#18191a 87.5%,
						#18191a
					),
					linear-gradient(
						150deg,
						#18191a 12%,
						transparent 12.5%,
						transparent 87%,
						#18191a 87.5%,
						#18191a
					),
					linear-gradient(
						60deg,
						#18191a77 25%,
						transparent 25.5%,
						transparent 75%,
						#18191a77 75%,
						#18191a77
					),
					linear-gradient(
						60deg,
						#18191a77 25%,
						transparent 25.5%,
						transparent 75%,
						#18191a77 75%,
						#18191a77
					);
				background-size: 48px 84px;
				background-position:
					0 0,
					0 0,
					24px 42px,
					24px 42px,
					0 0,
					24px 42px;
			}

			.dark .bg {
				opacity: 0.5;
				z-index: 10;
				pointer-events: none;

				background-image: linear-gradient(
						30deg,
						#1c1e22 12%,
						transparent 12.5%,
						transparent 87%,
						#1c1e22 87.5%,
						#1c1e22
					),
					linear-gradient(
						150deg,
						#1c1e22 12%,
						transparent 12.5%,
						transparent 87%,
						#1c1e22 87.5%,
						#1c1e22
					),
					linear-gradient(
						30deg,
						#1c1e22 12%,
						transparent 12.5%,
						transparent 87%,
						#1c1e22 87.5%,
						#1c1e22
					),
					linear-gradient(
						150deg,
						#1c1e22 12%,
						transparent 12.5%,
						transparent 87%,
						#1c1e22 87.5%,
						#1c1e22
					),
					linear-gradient(
						60deg,
						rgba(28, 30, 34, 0.5) 25%,
						transparent 25.5%,
						transparent 75%,
						rgba(28, 30, 34, 0.5) 75%,
						rgba(28, 30, 34, 0.5)
					),
					linear-gradient(
						60deg,
						rgba(28, 30, 34, 0.5) 25%,
						transparent 25.5%,
						transparent 75%,
						rgba(28, 30, 34, 0.5) 75%,
						rgba(28, 30, 34, 0.5)
					);
			}
		</style>
		<script is:inline>
			const theme = localStorage.getItem("theme");

			if (
				theme === "dark" ||
				(!theme &&
					window.matchMedia("(prefers-color-scheme: dark)").matches)
			) {
				document.documentElement.classList.add("dark");
			}
		</script>
	</head>
	<body
		class="relative h-screen overflow-y-auto  bg-white dark:bg-[#18191a] z-0"
	>

	<div class="bg"></div>

		<div
			class="mx-auto w-full grid grid-cols-1 max-w-screen-xl overflow-x-hidden justify-between p-4 gap-6 lg:p-6"
		>
			<Header />
			<slot />
			<Footer />
		</div>



		<Contacto />

		<div
			id="drawer-menu"
			class="fixed top-0 right-0 z-40 h-screen max-w-48 p-4 overflow-y-auto transition-transform translate-x-full bg-white w-80 dark:bg-gray-800"
			tabindex="-1"
			aria-labelledby="drawer-right-label"
		>
			<h5
				id="drawer-right-label"
				class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400"
			>
				<svg
					class="w-4 h-4 me-2.5"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="currentColor"
					viewBox="0 0 20 20"
				>
					<path
						d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
					></path>
				</svg>Menu
			</h5>
			<button
				type="button"
				data-drawer-hide="drawer-menu"
				aria-controls="drawer-menu"
				class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white"
			>
				<svg
					class="w-3 h-3"
					aria-hidden="true"
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 14 14"
				>
					<path
						stroke="currentColor"
						stroke-linecap="round"
						stroke-linejoin="round"
						stroke-width="2"
						d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
				</svg>
				<span class="sr-only">Close menu</span>
			</button>
			<div class="flex flex-col gap-4 dark:text-white">
				<Enlaces />
			</div>
		</div>

		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"
		></script>
		<script src="../js/main"></script>
	</body>
</html>
